footer{
    padding-top: 60px;

}
address{
    font: 400 14px/25px $sec-font;
}
#footer-sidebar{
    h5{
        margin-bottom: 20px;
        font: 500 16px $sec-font;
    }
    a{
        font: 400 14px $sec-font;
        color: $sec-color;
        transition: all .2s;
        &:hover{
            color:$bg-color;
        }
    }
    i{
        margin-right: 8px;
        font-size: 16px;
    }

}
#phone-no{
    font: 600 22px $main-font;
}
#company-email{
    color: $sec-color;
    font: 400 14px $sec-font;
}
#footer{
    span,a{
        color: $sec-color;
        font: 400 14px $sec-font;
    }
    a:hover{
        color: $bg-color;
    }
}